<div class="wrapper">
  <div class="container-small">



  <h1>All our campings</h1>

  <% @campings.each do |camping| %>
    <br>
    <%= camping.camping_name %>
    <br>
    <%= camping.description %>
    <br>
    <%= camping.rules %>
    <br>
    <%= camping.direction %>
    <br>
    <%= camping.pricing %>
    <br>

  <% end %>
  </div>
</div>
