<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1>Check out our barracas!</h1>
      <br>
        <% Camping.all.each do |camping| %>
      <div class="col-xs-12">
        <div class="listcard">

          <div class="listcard-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('camping_orange_bois.jpg');">
          </div>

            <div class="listcard-category"><%= camping.camping_name %>


              <h2><%= camping.description %></h2>
              <p><%= camping.pricing %> R$</p>
              </div>

            <div class="listcard-btn">
              <%= link_to t(".top_call_to_action", default: "BOOK IT!"), new_camping_booking_path(camping.id), class: "btn btn-success", id: "listcard-btn" %>
            </div>

        </div>
      </div>
       <% end %>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
