<h1>MyCampings#index</h1>
<p>Find me in app/views/my_campings/index.html.erb</p>

<% Camping.all.each do |camping| %>
  <br>
 <%= camping.camping_name %>
  <br>
  <%= camping.description %>
  <br>
  <%= camping.rules %>
  <br>
  <%= camping.direction %>
  <br>
  <%= camping.pricing %>
  <br>
  <%= link_to t(".top_call_to_action", default: "Book it!"), new_camping_booking_path(params[:camping_id]), class: "btn btn-primary" %>

