<%= simple_form_for [@camping, @booking] do |f| %>

  <div class="row">
    <div class="col-md-6">
      <label>Check In</label>
      <%= f.input :start_date, as: :date, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <label>Check Out</label>
      <%= f.input :end_date, as: :date, class: 'form-control'%>
    </div>
  </div>

  <%= f.hidden_field :camping_id, value: @camping.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>



  <br/>
  <%= f.submit "Book Now", class: "btn btn-primary" %>
<% end %>

