<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.15) 0%, rgba(0, 36, 61, 0.08) 50%), url('<%= root_url %>banner.jpeg');">
  <div class="banner-content">
    <h1>Take a breath</h1>
    <p>Descubra mais de 1000 barracas únicas</p>
    <%= link_to 'Vai safadao', campings_path, class: "btn btn-success" %>

  </div>
</div>




<div class="container">
  <div class="row">
      <% Camping.all.each do |camping| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to camping_path(camping) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('camping_jaune_bois.jpg');">
        <div class="card-category"><%= camping.camping_name %></div>
        <div class="card-description">
        <h2><%= camping.description %></h2> </div>
        <%= link_to "Book it!", new_camping_booking_path(camping.id), class: "btn btn-success", id: "card-btn" %>
      </div>
      <% end %>
    </div>
      <% end %>
  </div>
</div>


