<div class="wrapper">
  <div class="div container">

    <h1>Parabens camper, acabou de terminar sua reserva!</h1>
    <h2>Detalhes da sua reserva:</h2>


      <div class="col-xs-12">
        <div class="listcard">
          <div class="listcard-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('camping_orange_bois.jpg');">
          </div>

          <div class="listcard-category"><%= @my_booking.name %>
            <p> Check-in: <%= @my_booking.start_date %></p><p> Check-out: <%= @my_booking.end_date %></p>
            <p> Price: $<%= @my_booking.price %></p>
          </div>
          <div class="listcard-btn">
            <%= link_to t(".top_call_to_action", default: "Mande uma mensagem"), campings_path, class: "btn btn-success", id: "listcard-btn" %>
          </div>
        </div>
      </div>

        <br>
        <br>
        <%= link_to t(".top_call_to_action", default: "Back home"), root_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
        <%= link_to t(".top_call_to_action", default: "All your bookings"), my_campings_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

  </div>
</div>

